/* Your CSS Code here. */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
}

.clock {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
}

.hand {
    width: 50%;
    height: 4px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}
.second-hand {
    height: 2px;
    background: red;
}